In [5]:
import pandas as pd
import os

# Load the dataset
df_clubs = pd.read_csv("clean_data/j_clean_clubs.csv")

# Show first rows
df_clubs.head()

,club_id,club_code,name,domestic_competition_id,last_season
0,105,sv-darmstadt-98,Sv Darmstadt 98,L1,2023
1,11127,ural-ekaterinburg,Ural Yekaterinburg,RU1,2023
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,2024
3,12,as-rom,Associazione Sportiva Roma,IT1,2024
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,2024

In [6]:
# drop unnecessary columns
df_filtered_clubs = df_clubs.drop(['club_code', 'domestic_competition_id', 'last_season'], axis=1)

df_filtered_clubs.head()

   club_id                             name
0      105                  Sv Darmstadt 98
1    11127               Ural Yekaterinburg
2      114        Beşiktaş Jimnastik Kulübü
3       12       Associazione Sportiva Roma
4      148  Tottenham Hotspur Football Club

In [7]:
import os

# create the directory
os.makedirs("to_merge_data", exist_ok=True)

In [8]:
df_filtered_clubs.to_csv("to_merge_data/filtered_clubs.csv", index=False)